.teaser__card {
	position: relative;
}

.teaser__imageContainer {
	position: relative;
	height: 100%;
	width: 100%;
}
.teaser__imageContainer img {
	object-fit: cover;
	height: 500px;
	width: 292px;
	pointer-events: none;
}
.teaser__imageContainer::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: inherit;
	height: inherit;
}

.teaser__card:hover .teaser__imageContainer::after {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75));
}

.teaser__body {
	position: absolute;
	bottom: 20px;
	overflow: hidden;
	width: 100%;
	padding: 20px;
}
.teaser__body::after {
	content: '';
	position: absolute;
	bottom: 0px;
	background-color: yellow;
	display: block;
	height: 4px;
	width: 10%;
	transition: 0.4s ease;
}
.teaser__body p {
	color: white;
	font-size: 28px;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	transition: 0.4s ease;
	transform: translateY(90%);
}

.teaser__body span {
	font-size: 16px;
	opacity: 0;
}

.teaser__card:hover .teaser__body p {
	transform: translateY(0%);
}
.teaser__card:hover .teaser__body span {
	opacity: 1;
}
.teaser__card:hover .teaser__body::after {
	width: 20%;
}
