.card__container {
	z-index: 1;
	margin-right: 10px;
	position: relative;
}

.card__image {
	object-fit: cover;
	height: 148px;
	width: 100%;
}
.card__title {
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: -0.2px;
}
.card__content {
	font-size: 16px;
	line-height: 20px;
}
.card__body {
	padding: 10px 0px;
}
.card__body::after {
	content: '';
	position: absolute;
	bottom: 0px;
	height: 4px;
	background-color: yellow;
	display: block;
	width: 10%;
	transition: linear 0.2s;
}
.card__container:hover .card__body::after {
	width: 20%;
}
